################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*/bin/*
*/obj/*

*/UI/bin/*
*/UI/obj/*

*/API/bin/*
*/API/obj/*

*/Backend/bin/*
*/Backend/obj/*

*/API.Commom/bin/*
*/API.Commom/obj/*
