<?xml version="1.0" encoding="utf-8" ?>

<Menu text="Menu">
  <SubMenu text="Dashboard" url="/Pages/Dashboard.aspx"  icone="icon-home" tipoAcesso="1" />
  <SubMenu text="Meu Perfil" url="/Pages/Perfil.aspx"  icone="icon-male" tipoAcesso="1" />
  <SubMenu text="Usuários" url="/Pages/Usuario.aspx"  icone="icon-user" tipoAcesso="3" />
  <SubMenu text="Configurações"  icone="icon-cogs"  tipoAcesso="4" >
    <SubMenu text="Parâmetros" url="/Pages/Parametrizacao.aspx" icone="icon-cog" tipoAcesso="4" />
  </SubMenu>
  <SubMenu text="Categorias" url="/Pages/Categoria.aspx"  icone="icon-tags" tipoAcesso="3" />
  <SubMenu text="Produtos" url="/Pages/Produto.aspx"  icone="icon-archive"  tipoAcesso="3" />
  <SubMenu text="Grupos" url="/Pages/Grupo.aspx"  icone="icon-group"  tipoAcesso="2" />
  <SubMenu text="Parceiros de Negócios" url="/Pages/ParceiroNegocio.aspx"  icone="icon-briefcase"  tipoAcesso="1" />

  <SubMenu text="Leilões" tipoAcesso="1" icone="icon-legal">
    <SubMenu text="Listagem de Leilões" url="/Pages/Leiloes.aspx"  icone="icon-list-ol" tipoAcesso="1" />
    <SubMenu text="Cadastro" url="/Pages/Leilao.aspx"  icone="icon-pencil" tipoAcesso="2" />
    <!--<SubMenu text="Lances" url="/Pages/LeilaoLances.aspx"  icone="icon-legal" tipoAcesso="1" />-->
  </SubMenu>

</Menu>