<?xml version="1.0" encoding="utf-8" ?>

<Menu text="Menu">
  <SubMenu text="Dashboard" url="/Pages/Dashboard.aspx"  icone="icon-home" />
  <SubMenu text="Usuários" url="/Pages/Usuario.aspx"  icone="icon-user" />
  <SubMenu text="Configurações"  icone="icon-cogs" >
    <SubMenu text="Parâmetros" url="/Pages/Parametrizacao.aspx" icone="icon-cog" />
  </SubMenu>
  <SubMenu text="Categorias" url="/Pages/Categoria.aspx"  icone="icon-tags" />
  <SubMenu text="Produtos" url="/Pages/Produto.aspx"  icone="icon-archive" />
  <SubMenu text="Grupos" url="/Pages/Grupo.aspx"  icone="icon-group" />
  <SubMenu text="Parceiros de Negócios" url="/Pages/ParceiroNegocio.aspx"  icone="icon-briefcase" />
  <SubMenu text="Leilões" url="/Pages/Leilao.aspx"  icone="icon-legal" />
</Menu>